_build/exchangeserver/debian/home/CheckClientWS/WebContent/wsdl/CheckClient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://exgserv.hl7.la" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://exgserv.hl7.la" xmlns:intf="http://exgserv.hl7.la" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://exgserv.hl7.la" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checklogin">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkloginResponse">
    <complexType>
     <sequence>
      <element name="checkloginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkloginResponse">

      <wsdl:part element="impl:checkloginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkloginRequest">

      <wsdl:part element="impl:checklogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CheckClient">

      <wsdl:operation name="checklogin">

         <wsdl:input message="impl:checkloginRequest" name="checkloginRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkloginResponse" name="checkloginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CheckClientSoapBinding" type="impl:CheckClient">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checklogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkloginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkloginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CheckClientService">

      <wsdl:port binding="impl:CheckClientSoapBinding" name="CheckClient">

         <wsdlsoap:address location="http://localhost:8080/CheckClientWS/services/CheckClient"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
