SDK/Authentication/WebContent/wsdl/Authen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.com" xmlns:intf="http://www.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://www.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checklogin">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="pass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkloginResponse">
    <complexType>
     <sequence>
      <element name="checkloginReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkloginResponse">

      <wsdl:part element="impl:checkloginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkloginRequest">

      <wsdl:part element="impl:checklogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Authen">

      <wsdl:operation name="checklogin">

         <wsdl:input message="impl:checkloginRequest" name="checkloginRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkloginResponse" name="checkloginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthenSoapBinding" type="impl:Authen">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checklogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkloginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkloginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthenService">

      <wsdl:port binding="impl:AuthenSoapBinding" name="Authen">

         <wsdlsoap:address location="http://localhost:8080/Authentication/services/Authen"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
